{% extends 'base.html' %}
{% block content %}
      
<h1>Add stock</h1>

<form action='{% url 'addstock' %}' class='form-inline my-2 my-lg-0' method='POST'>
    {% csrf_token %}                       
    <input class='form-control mr-sm02' type='search' placeholder='Add to your Portfolio' name='stock'>
    <button class='btn btn-outline-success my-2 my-sm-0' type='submit'>Add</button>
</form>
<br/>

<h6 class='text-left'>Portfolio</h6>
                
                <table class="table table-bordered table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Stock</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Sell</th>
                    </tr>
                  </thead>
                  <tbody>

                {% for item in stocks %}
                    <tr>
                      <th scope="row">{{ item }} </th>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td><a href='{% url 'delete' item.id %}'> Sell </a></td>
                    </tr>
                {% endfor %}

                  </tbody>
                </table>
                <br></br>
                <input placeholder='Quantity' class="rounded">
                <select name="shares" id="shares" class="rounded">
                <option value="Select">Select</option>
                  <option value="Buy">Buy</option>
                  <option value="Sell">Sell</option>
                 
                </select>





{% endblock %}