{% extends 'base.html' %}
{% block content %}
      
      
      <div class="container">
          <div class="row">
              <div class="col-3">
                [Blank Space]
              </div>
              <div class="col-6">
              <h1 class='text-uppercase'>Minion Paper Trading</h1>
              </div>
              <div class="col-3">
                Welcome, "User"!
              </div>
              
          </div>
          

          <div class="row my-3">
              <div class="col-md-8 col-sm-12 border border-light my-3 py-4">
                
                <form action='' method='post'>
                        {% csrf_token %}
                        {{form}}
                    <input type='submit' values='Submit'>
                </form>

                    <br>
              
                    <button class="rounded">Buy</button>
                    <button class="rounded">Sell</button>
                    <br>

                  {% if api %}
                      {% if api == "Error..." %}
                          There was a problem with your Ticker symbol. Try again...
                      {% else %}
                          {% for key, value in api.items %}
                              {{ key }}: {{ value }}<br/>
                          {% endfor %} 
                      {% endif %}
                  {% endif %}


              
              

              </div>

              <div class="col-md-4 col-sm-12 border border-light my-3 py-4">
                <h6 class='text-left'>Portfolio</h6>
                

                
                <table class="table table-bordered table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Stock</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Value</th>
                      <th scope="col">Buy/Sell</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
                <br></br>
                <input placeholder='Quantity' class="rounded">
                <select name="shares" id="shares" class="rounded">
                <option value="Select">Select</option>
                  <option value="Buy">Buy</option>
                  <option value="Sell">Sell</option>
                 
                </select>

              
              
              </div>
              
          </div>
      </div>

{% endblock %}