.container {
    padding: 80px;
    color: crimson;
    width: auto;
}

.header {
    font-size: 1.5rem;
}

.exchangeList {
    list-style-type: none;
    margin: auto;
    padding: 0;
    float: left;
    
}

.listitem {
    display: flex;
    margin: 10px 0;
    position: relative;
    
}

.name {
   color: blueviolet;
}
.index {
 color: blueviolet;   
}

.percentage {
    color: blueviolet;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
}