.infoCard {
    background-color: cyan;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95px;
    margin: 0 8px;

}

.header {
    font-size: 1rem;
}