.subheader {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.subheaderContainer {
    background-color: rgb(204, 195, 195);
    color: black;
    margin: auto;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;

}

h1 {
    color: black;
}
